body {
  background-color: #eaf2e3;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.info-perros {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.estilo-perros {
  font-size: 1.5em;
  border: white 8px inset;
  border-radius: 1em;
  margin: 2rem 2rem;
  padding: 1rem;
}