body {
  background-color: #eaf2e3;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* .info-perros {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.estilo-perros {
  font-size: 1.5em;
  border: white 8px inset;
  border-radius: 1em;
  margin: 2rem 2rem;
  padding: 1rem;
} */

header {
  background-color: #69bd45;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
  /* espaciado para la sección de 20 pixeles */
}

footer {
  background-color: #4caf50;
  /* Color de fondo del footer */
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  max-width: 800px;
  /* Ancho máximo del contenido del footer */
  margin: 0 auto;
  /* Centrar el contenido del footer horizontalmente */
  text-align: center;
}